<h1>New Game</h1>

<% @letters.each do  |letter| %>
 <p class="grid"> <%= letter.upcase %> </p>
<% end %>
<p>What is the longest word you can find?</p>

<form action="/score" method="POST" data-turbo="false">
  <input type="text" name="word" placeholder="Enter your word here" value = "<%= params[:word] %>">
  <input type="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
